# MongoDB Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.zcisjg0.mongodb.net/iqs-dms?appName=Cluster0

# JWT Secret for Session Management
JWT_SECRET=your_jwt_secret_here

# Cloudinary Configuration
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
